<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>UnityBill - My eInvoice Solution</title>

    <!-- Favicon -->
    <link rel="icon" href="Euro_symbol.svg" sizes="any" type="image/svg+xml">

    <!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>

    <!-- Required for backwards compatibility with VueJS < 2.7.0 and ECharts -->
    <script src="https://cdn.jsdelivr.net/npm/@vue/composition-api@1.7.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-echarts@6.6.1"></script>

    <script src="https://unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue.js"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue-icons.min.js"></script>
  

    <!-- Vue Internationalization framework -->
    <script src="https://unpkg.com/vue-i18n@8"></script>
    <!-- Vue flag icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />

    <!-- Translation file -->
    <script src="js/messages.js"></script>    
    <!-- Vuejs utility functions -->
    <script src="js/utils.js"></script>
    <!-- Custom  stylesheet -->
    <link rel="stylesheet" href="css/footer.css" />

    <!-- Use AXIOS for http server calls -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	
    <!-- PDFMake framework -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha512-a9NgEEK7tsCvABL7KqtUTQjl69z7091EVPpw5KxPlZ93T141ffe1woLtbXTX+r2/8TtTvRX/v4zTL2UlMUPgwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.min.js" integrity="sha512-P0bOMePRS378NwmPDVPU455C/TuxDS+8QwJozdc7PGgN8kLqR4ems0U/3DeJkmiE31749vYWHvBOtR+37qDCZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Handlebars famework -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- SheetJS framework -->
    <script src="https://cdn.sheetjs.com/xlsx-0.20.0/package/dist/xlsx.full.min.js"></script>    
    
    <!-- Vue components and logic -->
    <script src="js/login.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/company.js"></script>
    <script src="js/clients.js"></script>
    <script src="js/contracts.js"></script>
    <script src="js/services.js"></script>
    <script src="js/invoices.js"></script>
    <script src="js/payments.js"></script>
    <script src="js/profile.js"></script>
    <script src="js/main.js"></script>
    <script src="js/onboarding.js"></script>
    <script src="js/bill_templates.js"></script>
	
</head>
<body>

    {{{body}}}

</body>
</html>
