<!-- Our application root element -->
<div id="app">
    <header>
        <component v-bind:is="currentHeader"></component>
    </header>
    <main>
        <!-- We want main content here -->
        <component v-bind:is="mainComponent"></component>
    </main>
    <footer class="footer">
        <!-- We want footer content here -->
        <component v-bind:is="currentFooter"></component>
    </footer>
</div>

<!-- Start running your app -->
<script src="js/app.js"></script>
<script>
    const getData = async () => {
        try{
        const response = await fetch('/checksession',
        { method: "GET"})

        if (!response.ok){
            console.log(response.status)
            window.app.showLayout({currentHeader:'publicHeader', mainComponent:'login', currentFooter:'publicFooter'})

        }

        const rsp = await response.json()
        window.app[rsp.action](rsp.args)
        }catch(err){
            console.log(err)
            window.app.showLayout({currentHeader:'publicHeader', mainComponent:'login', currentFooter:'publicFooter'})
        }
    }
    getData()
</script>