<!-- Public template -->
<div id="pdf">
</div>

<!-- Start running your app -->
<script>

window.app = new Vue({
	el: '#pdf',
	data: {
		db: {{url.db}},
		invoice: {{url.invoice}},
		key: {{key}}
	},

	created(){
	    //fetch the data from API and display the PDF document in a new window
	    /*
        let fulldata = this.invoice_data[this.company._id].find((elm) => elm.payload.INVOICE_NUMBER == item.INVOICE_NUMBER)
        let draft = fulldata.template
      	let tmp = Handlebars.compile(draft)
      	let PDF_DOC = JSON.parse(tmp(fulldata.payload))
      	pdfMake.createPdf(PDF_DOC).open();
      	*/
      	console.log(this.db, this.invoice, this.key)

	}

})


</script>
